
__pycache__/
*.py[cod]
*.log


venv/
.env/

db.sqlite3
media/
staticfiles/

**/migrations/*.py
!**/migrations/__init__.py

.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db

htmlcov/
.coverage
.pytest_cache/

build/
dist/
*.egg-info/

config/settings.py