{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Ticket System{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% if request.user.is_authenticated %}
    <nav>
        <div>
            <span style="color:white; font-weight:700; margin-right:25px;">
                🎫 SupportDesk
            </span>
    
            <a href="/">Home</a>
            <a href="/tickets/">My Tickets</a>
        </div>
    
        <form method="post" action="/accounts/logout/">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
    {% endif %}
    {% if request.path != '/accounts/login/' %}
    <div class="container">
    {% endif %}
    
        {% block content %}
        {% endblock %}
    
    {% if request.path != '/accounts/login/' %}
    </div>
    {% endif %}
</body>
</html>