{% extends "base.html" %}
{% block title %}My Tickets{% endblock %}

{% block content %}
<h2>My Tickets</h2>

<form method="get">
  <input type="text" name="q" placeholder="Search tickets..."
         value="{{ search_query|default:'' }}">
  <button type="submit">Search</button>
</form>

<br>

<h3>Filter Tickets</h3>

<div class="toolbar">

  <div class="filters">
    <a href="{% url 'customer_tickets' %}" class="filter-btn">All</a>
    <a href="?status=OPEN" class="filter-btn">Open</a>
    <a href="?status=IN_PROGRESS" class="filter-btn">In Progress</a>
    <a href="?status=RESOLVED" class="filter-btn">Resolved</a>
    <a href="?status=CLOSED" class="filter-btn">Closed</a>
  </div>

</div>
<hr>

<table>
  <tr>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>
  </tr>

  {% for ticket in page_obj %}
  <tr>
    <td>{{ ticket.title }}</td>
    <td>
      <span class="badge {{ ticket.status }}">
        {{ ticket.status }}
      </span>
    </td>
    <td>
      <a href="{% url 'ticket_detail' ticket.id %}">View</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">No tickets found.</td>
  </tr>
  {% endfor %}
</table>

<div class="pagination">

  {% if page_obj.has_previous %}
    <a class="page-btn" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  <span class="page-info">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
  </span>

  {% if page_obj.has_next %}
    <a class="page-btn" href="?page={{ page_obj.next_page_number }}">Next</a>
  {% endif %}

</div>
{% endblock %}
