{% extends "base.html" %}
{% block title %}Ticket Detail{% endblock %}

{% block content %}

<div class="panel">

  <!-- Ticket Header -->
  <div class="ticket-header">
    <div>
      <h2>{{ ticket.title }}</h2>
      <p class="muted">{{ ticket.description }}</p>
    </div>

    <div class="ticket-meta">
      <span class="badge {{ ticket.status }}">
        {{ ticket.status }}
      </span>
    </div>
  </div>

  <hr>

  <!-- Conversation -->
  <h3>Conversation</h3>

  <div class="conversation">

    {% for reply in replies %}
    <div class="reply-card">
      <div class="reply-meta">
        <strong>{{ reply.author.username }}</strong>
        <span>{{ reply.created_at|date:"d M Y, H:i" }}</span>
      </div>

      <div class="reply-message">
        {{ reply.message }}
      </div>
    </div>
    {% empty %}
    <p class="muted">No replies yet.</p>
    {% endfor %}

  </div>

  <hr>

  <!-- Reply Form -->
  {% if can_reply %}
  <div class="reply-form">
    <h3>Add Reply</h3>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label>Message</label>
        {{ form.message }}
      </div>
      <button type="submit" class="btn primary-btn">
        Send Reply
      </button>
    </form>
  </div>
  {% else %}
    <p class="muted">
      This ticket is closed. No more replies allowed.
    </p>
  {% endif %}

</div>

{% endblock %}